.graph1{
    font-size: 16px;
}
.graph2{
    font-size: 16px;
}

.hometext{
    font-size:10px;
}

.headert{
    font-size: 25px;
}

.alerttext{
    font-size: 25px;
}

.reducesize{
    font-size: 20px;
}

.about{
    font-size: 30px;
}

.information{
    font-size: 15px;
}
.homebackground{
    width: 100%;
}

.graph5{
    font-size: 16px;
}

.homebackground {
    transition: box-shadow 0.3s ease-in-out;
  }
  
.homebackground:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.backgroundlogo{
    margin-top: -15px;
}
  
