.graph1{
    font-size: 16px;
}
.graph2{
    font-size: 16px;
}

.hometext{
    font-size:10px;
}

.headert{
    font-size: 25px;
}

.alerttext{
    font-size: 25px;
}

.reducesize{
    font-size: 20px;
}

.about{
    font-size: 30px;
}

.information{
    font-size: 15px;
}
.homebackground{
    width: 100%;
}

.graph5{
    font-size: 16px;
}

