*{
    box-sizing: border-box;
}

body{
    margin:0;
}


.webtitle{
    font-size: 2rem;
}

.container{
    margin: 1rem;
    text-align: center;
}
.nav{
    background-color: #5378DA ;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;

}


.nav ul{
  padding: 0;
  margin: 0;
  list-style: 0;
  display: flex;
  gap: 1rem;

}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25 rem;
}


.nav li{
    display: inline-block;
    padding: 5px 5px;
}

.nav li.active{
    background-color: rgb(170, 72, 72);
}

.nav li:hover{
    background-color: rgb(210, 188, 188);
}

.logo{
    float:right;
}
